.popup_type_grid-img .popup__form {

    max-width: 75vh;
    /* max-height: 75vh; */
    background: none;
    padding: 0;
}

@media screen and (max-width: 523px) {
    .popup_type_grid-img .popup__form {
        max-width: 282px;
        padding: 20px 30px 20px;
    }
}